* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
header {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #000;
  background-color: #222;
}
header nav {
  width: 1200px;
  margin: 0 auto;
}
header nav .nav li {
  float: left;
}
header nav .nav li a {
  display: block;
  height: 50px;
  color: #9d9d9d;
  font-size: 16px;
  line-height: 50px;
  padding: 0 10px;
}
header nav .nav li a:hover {
  color: #fff;
  background-color: #000;
}
header nav .nav li .on {
  color: #fff;
  background-color: #000;
}
.footer {
  width: 1200px;
  border-top: 1px solid #eee;
  margin: 0 auto;
  padding-top: 20px;
}
.footer span .lianjie {
  display: flex;
  justify-content: center;
}
.footer span .lianjie li {
  float: left;
}
.footer span .lianjie li a {
  font-weight: bold;
  font-size: 14px;
  color: #377cb8;
  margin-right: 5px;
}
.footer .banQuan {
  display: block;
  width: 1200px;
  text-align: center;
  font-size: 14px;
  color: #d3d3d3;
  line-height: 40px;
}
.addition {
  width: 1200px;
  margin: 85px auto 75px;
  text-align: center;
}
.addition h1 {
  font-size: 39px;
  margin-bottom: 27px;
}
.addition .add_in {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.addition .add_in span {
  display: inline-block;
  width: 70px;
  text-align: right;
  line-height: 32px;
  font-size: 14px;
  color: #333;
  padding-right: 15px;
}
.addition .add_in input {
  width: 588px;
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
}
.addition .add_pic .shuJi {
  display: inline-block;
  width: 70px;
  text-align: right;
  line-height: 32px;
  font-size: 14px;
  color: #333;
  padding-right: 15px;
}
.addition .add_pic .pic_btn {
  display: inline-block;
  width: 610px;
}
.addition .add_pic .pic_btn #pic{
  float: left;
}
.addition .add {
  display: inline-block;
  width: 610px;
  padding-left: 85px;
  padding-top: 5px;
}
.addition .add .add_btn {
  float: left;
  width: 54px;
  height: 34px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 14px;
}
